nav(class="navbar navbar-inverse" style="background-color: #2c1d4a;")
  .container-fluid
    ul(class="nav navbar-nav")
      li
        a(href="/home") Home
      li
        a(href="/scores") Scores
      li
        a(href="/submit") Submit
      li
        a(href="/submissions") Submissions
